<div class="container">
  <div class="spinBtn" (click)="start()">spin</div>
  <div class="wheel" style="--degs:{{degs}}deg">
    <div
      class="spinOption"
      *ngFor="let opt of options; let ndx = index"
      style="--i:{{ndx+1}};--clr:{{opt.color}};--sizeOption:{{sizeOption}}%">
      <span>{{opt.label}}</span>
    </div>
  </div>
  <div class="info " *ngIf="sw">
    <div class="picture animate__animated animate__heartBeat" style="--selicon:url(/assets/imgs/{{ selected.picture }}.png)"></div>
    <span class="texto texto-borde">{{ selected.label }} Wins!!</span>
  </div>
</div>
<a class="repo" href="https://github.com/olpch/owheel">
  <span>Git Repository Owheel</span>
</a>